<h2>New game</h2>

<div>
<% @letters.each do |letter| %>
<%=letter %>
<%end %>
</div>

<form action="/score" method="post" data-turbo="false">
  <!-- ... -->
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <label for="input">What is the longest word you can find?</label>
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>
